/* 
  This is a SAMPLE File to get you started. Follow the instructions on the project to complete the tasks. 
  You'll probably need to override some of theese styles.
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #ff5733;
    color: #fff;
    padding: 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
}

main {
    padding: 2rem;
}

section {}

footer {}

.details-button {
    color: white;
    background-color: #ff5733;
    text-decoration: none;
    margin: 10px;
    position: relative;
    top: 5px;
    padding: 2px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.details-button:hover {
    color: blue;
}

.place-card, .review-card {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
}

ul {
    list-style: none;
}

#places-list ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
